body {
    background-color: #9ACC99;
    color: #262626;
    font-family: 'Lucida Console', monospace;
    text-align: center;
    font-size: 60px;
}

p {
    font-size: .5em;
    margin: 0;
}

span {
    font-size: .5em;
}

#gameCanvas {
    border: 2px solid black;
}

#btnPlayAgain {
    display: inline-block;
    font-size: 1.9em;
    vertical-align: middle;
    cursor: pointer;
}

#theEnd {
    position: relative;
    top: -460px;
}

#s_volume {
    padding-left: 20px;
    padding-right: 20px;
}

#infos {
    position: relative;
    top: -310px
}

#d_bestScore {
    position: relative;
    top: -30px;
}

.canvas {    
    position: relative;
}