body {
    background-color: #ddddbb;    
    font-family: 'Lucida Console', monospace;
    text-align: center;
    font-size: 60px;
}

#gameCanvas {
    position: relative;
    border: 12px ridge rgba(123,65,5,0.75);
}

p {
    font-size: .5em;
}

#btnPlayAgain {
    display: inline-block;
    border: 2px solid black;
    font-size: 20px;				
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}

#btnPlayAgain:hover {
    background-color: white;
}